.VehicleList {

  display: grid;
  grid-template-columns: 1fr;
  padding: 0;

  // -------------- Tablet ----------------

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  // -------------- Desktop ----------------

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.VehicleCard {
  --primary-clr: var(--grey_900, #0e141e);
  --secondary-clr: var(--grey_600, #686c70);
  --border-clr: var(--grey_300, #eaeaea);

  color: var(--primary-clr);

  display: grid;
  
  font-size: 10px;
  grid-template-columns: 22.5% auto;

  @at-root #{&}__picture {
    aspect-ratio: 1;
  }

  @at-root #{&}__image {
    height: 100%;
    object-fit: cover;
  }

  @at-root #{&}__copy {
    
    border-bottom: 1px solid var(--border-clr);

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: .8em 1.9em;
  }

  @at-root #{&}__titleWrap {
    display: flex;
    justify-content: left;
  }
  
  @at-root #{&}__title {
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: .2em;
    text-transform: uppercase;
  }

  @at-root #{&}__price {
    color: var(--secondary-clr);
    font-size: 1em;
    font-weight: 500;
    letter-spacing: .1em;
    
    margin-block-end: .5em;
  }

  @at-root #{&}__description {
    -webkit-box-orient: vertical;
    color: var(--secondary-clr);

    display: -webkit-box;
    font-size: 1em;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  // -------------- Tablet ----------------

  @media screen and (min-width: 768px) {

    font-size: 12px;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;

    @at-root #{&}__picture {
      aspect-ratio: 16/9;
    }

    @at-root #{&}__copy {
      border-bottom: 0;
      border-right: 1px solid var(--border-clr);

      justify-content: flex-start;
      padding: 1.6em 1.9em;

      text-align: center;
    }

    @at-root #{&}__titleWrap {
      display: flex;
      justify-content: center;

      margin-bottom: 1.2em;
    }  

    @at-root #{&}__title {
      border-bottom: 1px solid;
      border-color: inherit;
      border-top: 1px solid;
    }

    @at-root #{&}__description {
      -webkit-line-clamp: 2;
    }
  }
}